.pagina {
    padding-bottom: 4vw;
    position: relative;

    background-repeat: no-repeat, no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
}
.titulo-evento {
    line-height: 1.3em !important;
    margin-bottom: 1.2rem;
}
.descripcion-evento {
    line-height: 1.4em !important;
}
@media screen and (max-width: 480px) {
    .pagina {
        padding-bottom: 0;
    }
}

.pagina-header {
    background-repeat: no-repeat, no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

section.pagina .title {
    color: #ffffff;
    padding: 4% 10%;
    width: 100%;
    margin-bottom: 0;
    min-height: 18vw;
    max-height: 22vw;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 480px) {
    section.pagina .title {
        background-position: top center;
        background-size: auto 127%;
        max-height: inherit;
        height: 26vh;
        position: relative;
        background-color: rgba(0,0,0,0.2);
    }

    section.pagina .title:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 26vh;
        width: 100%;
        background-color: inherit;
        content: ' ';
    }
    section.pagina .title > div {
        position: relative;
        z-index: 2000;
    }
    section.pagina .title.is-2 {
        font-size: 2rem;
    }

}


.contenido {
    background: #ffffff;
    padding: 5rem 10rem;
    color: #2f2f2f;
    font-size: 1.2rem;
}
.contenido-pagina {
    align-items: center;
}

.contenido-ancho {
    background: rgb(255, 255, 255);
    padding-top: 2.5rem;
    color: rgb(47, 47, 47);
    font-size: 1.2rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

section.pagina .title .firstWord {
    font-family: "QuicksandRegular", Arial, sans-serif;
}

.contenido-pagina.superior {
    align-items: flex-start;
}

.icono {
    align-items: center;
    margin-bottom: 1vh;
    display: flex;
}

.img-icono {
    width: 16%;
    max-width: 90px;
}

.info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info .icono img {
    height: 50px;
    width: 100%;
    display: inline-block;
}

#menu-lateral a.active{

}

.google-maps {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.input, .textarea {
    height: auto;
    padding: 10px 7px;
}

.text-dark a {
    color: rgb(60, 60, 60);
}

.full {
    width: 100%;
}
.button.full {
    display: inline-block;
}

.fecha-apertura {
    margin-bottom: 0.75rem;
}
.link-paseo {
    font-family: "QuicksandBold", sans-serif;
    padding-top: 0;
    padding-bottom: 0;
}

.titulo-seccion {
    font-family: "QuicksandBold", sans-serif;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.boton-mapa {
    text-align: right;
}
.boton-mapa .button.is-large {
    padding-left: 1.75em;
    padding-right: 1.75em;
}

.boton-mapa a {
    font-size: 1.2rem !important;
    text-transform: uppercase;
}

.cursor {
    cursor: pointer;
}

.link-interno {
    text-align: center;
    margin: 16px 0;
}

.informacion p {
    margin-bottom: 0.75rem;
}

.control input {
    text-align: center;
}

.has-error {
    color: #e4051e !important; }
.has-error label {
    color: #e4051e !important; }
.has-error input {
    border-color: #e4051e !important; }
.has-error textarea {
    border-color: #e4051e !important; }
.has-error .select2-selection {
    border-color: #e4051e !important; }

.form-group {
    position: relative;
}
.margen-inferior .column {
    line-height: 0;
}

.margen-inferior {
    align-items: center;
}

.descripcion {
    padding: 1% 5%;
}

.fecha-evento {
    display: inline-block;
    line-height:100%;
    font-family: "QuicksandBold", sans-serif;
    opacity: .62;
    font-size: 5rem;
}
.mes-evento {
    display: inline-block;
    line-height:100%;
    font-family: "QuicksandBold", sans-serif;
    opacity: .62;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.titulo-evento {
    font-size: 1.5rem;
    font-family: "QuicksandBold", sans-serif;
}
.titulo-evento h1 {

    font-size:calc(1.8vw + 1.8vh + 1vmin);
    color:  #444444;
}
.titulo-evento strong {
    color: #ffffff;

}
.descripcion-evento {
    line-height:100%;
}
.horario {
    line-height:100%;
    margin-top: 5%;
}

.eventos-anteriores .descripcion > * {
    text-align: center;
}
.eventos-anteriores .titulo-evento {
    font-family: "QuicksandBold", sans-serif;
}

.ver-mas {
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    padding: 0 1.5rem;
    text-align: center;
    margin-top: 7%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    top: -1.5em;
}

.bg-black .ver-mas:hover {
    color: #080808 !important;
}
.bg-danger .ver-mas:hover {
    color: #e4051e !important;
}
.bg-purple .ver-mas:hover {
    background: #FFF;
    opacity: 1;
    color: #7264a9;
    font-weight: bold;
}

.ver-mas:focus,
.ver-mas:active {
    background: transparent;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
}

.eventos-anteriores .modal-content {
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
    max-width: inherit;
}

.miniaturas {
    flex-wrap: wrap;
}
.miniaturas .owl-thumb-item {
    line-height: 0;
}
@media screen and (min-width: 500px) and (max-width: 780px) {
    .miniaturas {
        display: flex;
    }
    .miniaturas .owl-thumb-item {
        width: 25%;
        flex: none;
    }
    .paginador .boton a {
    display: none;
}
}
@media screen and (max-width: 500px) {
    .miniaturas {
        display: flex;
    }
    .miniaturas .owl-thumb-item {
        width: 50%;
        flex: none;
    }
}

a.text-info {
    color: rgb(0, 177, 235);
}

#pswd_info {
    position :absolute;
    right: 4%;
    left: 4%;
    width: auto;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 100;

    display:none;
}
#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    color: rgb(73, 73, 73);
    font-size: 0.9rem;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
main ul li {
    font-size: 0.9rem;
}

.invalid {
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}
.invalid:before {
    content: "\f00d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 22px;
}
.invalid strong {
    color: #ec3f41;
}
.valid {
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
.valid:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 22px;
}
.valid strong {
    color: #3a7d34;
}

.imagenes.columns {
    display: flex;
}

.imagenes.columns img {
    padding: 0.75rem;
}

.fecha-apertura {
    margin-bottom: 0.75rem;
}

.pagina-completa {
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 1398px) {
    .pagina-completa {
        width: 100%;
    }
}

.pagina-mapa {
    width: 720px;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
    .pagina-mapa {
        width: auto;
    }
}
.botones-mapa {
    max-width: 708px;
    margin-left: 0.75rem;
}

.botones-niveles {
    padding-right: 0.2rem;
}


.boton-mapa {
    padding-left: 0.4rem;
}

.botones-mapa .button {
    width: 160px;
}
.btn-nivel {
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    text-transform: uppercase;
}

.btn-nivel:last-child {
    margin-right: 0;
}

@media screen and (max-width: 480px) {
    .botones-mapa {
        margin-left: 0;
        width: 100%;
    }

    .botones-mapa .botones-niveles {
        padding-left: 0;
        padding-right: 0;
        align-content: baseline;
        display: flex;
    }
    .botones-mapa .btn-nivel {
        margin: 0;
        width: auto;
        flex: 1;
    }
    .boton-mapa {
        padding-right: 0;
    }
    .boton-mapa .button.is-large {
        margin-right: 0.75rem;
    }
}

.text-right {
    text-align: right;
}

.btn-nivel.is-active{
    background-color: #00b1eb !important;
    border-color: #00b1eb !important;
    color: #fff !important;
}

.reenvio {
    cursor: pointer;
    color: rgb(0, 177, 235);
    text-decoration: underline;
    text-align: center;
}

.icono-servicio {
    line-height: 0;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    width: 50px;
    margin-right: 1vw;
    min-width: 50px;
}
.icono-servicio img {
    height: 45px !important;
    width: 35px !important;
}
.icono-principal {
    margin-bottom: 6vh;
}

.icono-principal img {
    height: auto !important;
    width: auto !important;
}

.texto-servicio {
    padding-top: 0;
    padding-bottom: 0;
}


/** MAPA **/
.ficha {
}
.titulo-ficha {
    margin-bottom: 1.75rem;
}

#mapa {
    border: 1px solid rgb(215, 215, 215);
    height: 80vh;
    min-height: 690px;
    width: 100%;
    max-width: 710px;
}
@media screen and (max-width: 480px) {
    #mapa {
        height: 69vh;
        min-height: auto;
    }
}


.numeracion-ficha {

}
.boton-descargar {
    position: absolute;
    top: 0.5rem;
    right: 4rem;
    display: flex;
    padding-top: 0.25rem;
}

.boton-descargar .icono {
    margin-right: 0.75rem;
    display: inline-block;
    width: 30px;
}

.boton-descargar .icono img {
    max-width: 25px;
}

.boton-descargar .content {
    line-height: 100%;
}

.boton-descargar.button.is-info.is-outlined:hover, .boton-descargar.button.is-info.is-outlined:focus {
    background: transparent;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none !important; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    padding: 0;
    margin-bottom: 2rem;
}

.rounded-list p {
    position: relative;
    display: block;
    padding: 0.2rem .2rem .2rem 1rem;
}

.rounded-list p:before{
    content: attr(data-count);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 60%;
    margin-top: -1rem;
    background: #232323;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    border: none;
    text-align: center;
    border-radius: 2rem;
    color: #ffffff;
}

.content ol {
    list-style: none;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    .boton-descargar {
        top: -46px;
        right: auto;
        padding-top: 0.3rem;
    }
    .boton-descargar .icono {
        height: auto;
        margin-bottom: 0;
    }
    #descargar-pdf img {
        height: auto;
    }
}

.vertical {
    text-align: center;
}
.vertical img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.margen-inferior {
    position: relative;
}

/*
.evento img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}*/

.icono-top {
    align-items: flex-start !important;
}
.pagina-acerca {
    align-items: flex-start;
}

/** TIENDAS **/
.logo-tienda {
    width: 30%;
    margin-bottom: 1rem;
}
.titulo-tienda {
    margin-bottom: 1rem;
}
.descripcion-tienda {
    margin-bottom: 1rem;
}

.telefono img {
    width: 20px;
}


@media screen and (max-width: 1500px) {
    .pagina-tiendas {
        /*width: 110%;*/
    }
}

@media screen and (min-width: 1500px) {
    .pagina-tiendas {
        width: 77%;
        margin: 0 auto;
    }
}

.close {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.titulos .titulo {
    color: rgb(0, 177, 235);
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem 3rem;
}
.modal-header {
    padding-left: 3rem;
    border-bottom: none;
}

.modal-black {
    width: 64%;
    max-width: inherit;
}
.modal-black .modal-header {

    height: 0;
}
.modal-footer {
    border-top: none;
}
.modal-black .modal-content{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.contador-imagenes {
    display: none;
}

.icono-boton {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.btn-log {
    white-space: normal;
    line-height: 110%;
    text-align: left;
}
@media screen and (max-width: 480px) {
    .log-large {
        height: auto;
    }
    .paginador .boton a {
    display: none;
}
}
@media screen and (max-width: 1200px) {
    .modal-black {
        width: auto;
    }
}

.texto-local {
    color: #646464;
}

.logo-local {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .contenido {
        padding: 2rem;
    }
    .contenido-ancho {
        margin-left: -2rem;
        margin-right: -2rem;
        padding-top: 0;
    }
    .fecha-evento {
        font-size: 3rem;
    }
    .mes-evento {
        font-size: 1.5rem;
    }
    .titulo-evento {
        font-size: 1.5rem;
    }
    .descripcion-evento {
        font-size: 1rem;
    }
    .horario {
        font-size: 1rem;
    }
}

.margen-inferior.columns:not(:last-child) {
    margin-bottom: 3%;
}

.info-referencial {
    text-align: right;
    font-size: small;
    font-style: italic;
    padding-top: 3.5rem;
}

.imagenes-render img {
    width: 100%;
}

.google-maps-info {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps-info iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.buscador .bloque {
    width: 25vw;
}
.input-buscador {
    border-radius: 17px;
    padding: 5px 7px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid #00b1eb;
    color: #00b1eb;
    width: 100%;
}
.buscador {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
}

.icono-buscador {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.contenido-tiendas {
    margin-top: 2rem;
}
.categoria {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #00b1eb;
}
.local {
    font-size: 0.9rem;
}
.item-tienda {
    cursor: pointer;
}
.item-tienda:hover {
    background: #eeeeee;
}

.color-celeste {
    color: #00b1eb;
}

.pagina-tiendas a {
    color: #00b1eb;
}

.descripcion-tienda {
    padding: 0.75rem 0;
}

.proxima-apertura {
    text-transform: lowercase;
    font-size: 0.9rem;
    color: #00b1eb;
}

@media screen and (max-width: 1000px) {
    .pagina-tiendas {
        width: 100%;
    }
    .buscador {
        width: 100%;
    }

    .buscador .bloque {
        width: 100%;
    }

    .tienda {
        padding-bottom: 0;
    }
    .categoria {
        padding-top: 0;
        padding-bottom: 0;
    }
    .local {
        padding-top: 0;
    }
}

.paginador {
    font-size: 1.3rem;
    margin-top: 80px;
    display:  flex;
    text-align: center;
    justify-content: center;
}

.paginador .previo {
    color: #a4a3a2;
    padding: 2px 13px;
    font-size: 1.3rem;
    opacity: 0.4;
    cursor: not-allowed;
}
.paginador .boton-previo a {
    color: #a4a3a2;
    padding: 2px 13px;
    font-size: 1.3rem;

}
.paginador .boton-previo a:hover {
    color: #a4a3a2;
    color:  #7264a9;
    font-weight: bold;
}
.paginador .next {
    color: #a4a3a2;
    padding: 2px 13px;
    font-size: 1.3rem;
    opacity: 0.4;
    cursor: not-allowed;
}
.paginador .boton-next a {
    color: #a4a3a2;
    padding: 2px 13px;
    font-size: 1.3rem;
}
.paginador .boton-next a:hover {
    color: #a4a3a2;
    color:  #7264a9;
    font-weight: bold;
}

.paginador .boton a {
    color:  #a4a3a2;
    padding: 2px 13px;
    
    margin:  0 3px;
    cursor: pointer;
}
.paginador .boton a strong {   
    color:  #7264a9;
    padding: 2px 13px;
    margin:  0 -6px 0 -10px;
    cursor: pointer;
}

.paginador .boton a:hover {    
    color:  #7264a9;
    font-weight: bold;
    margin:  0 3px;

}
.paginador .boton a strong:hover{
    color:  #7264a9;
    
}
.boton-ver{
    color: #000;
    text-align: right;
}

.contenido-noticias a {
    color: #7264a9;
    border-color: #7264a9;
}
.contenido-noticias a:hover {
    color: #FFF;
    background-color: #7264a9;
}
.contenido-noticias-destacado {
    color: #7264a9;
    font-weight: bold;
    font-size:calc(0.9vw + 0.9vh + .8vmin);
    line-height: 1.2;
}
.contenido-noticias-resto {
    color:#444444;
    font-size:calc(0.6vw + 0.5vh + .8vmin);
}
.button {
    font-size: calc(0.6vw + 0.5vh + .8vmin);
}

