DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

RewriteRule ^(.*)$ index.php [QSA,L]

<Files  ~ "\.conf$">
  Order allow,deny
  Deny from all
</Files>